.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to right bottom, rgba(255, 145, 0, 0.747), rgba(32, 112, 224, 0.7));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.paper {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
